body{
    background-color: blue;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 50px; 
}
#large{
    font-size: large;
}
#medium{
    font-size: medium;    
}
#small{
    font-size: small;    
}
